.vscode/**
.vscode-test/**
src/**/*.ts
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
dist
*.sqlite
**/*.ts
**/*.tsx
**/node_modules
**/test
**/*.map
.vscode