*/logs
*/*.log
*/npm-debug.log*
*/pnpm-debug.log*
*/lerna-debug.log*
*/node_modules
*/dist
*/dist-ssr
*/*.local
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

*/out
*/dist
*/.vscode-test/
*/*.vsix

extension/.vscode/timeyWimey
extension/db/
*/*.sqlite
extension/src/ui/index.html
